{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %} Handball{% endblock %}
<!---->

{%block content%}
<div class="footbase">
  <div class="futbol flex">
    <h1>Handball</h1>
    <nav class="fut-nav">
      <div class="pages flex">
        <li><a href="{%url 'handball'%}">Tournaments</a></li>
        <li><a href="{%url 'handball_fixtures'%}">Fixtures</a></li>
        <li><a href="">Results</a></li>
        <li><a href="{%url 'handball_standings'%}">Standings</a></li>
        <li><a href="">Rankings</a></li>
      </div>
    </nav>
  </div>
  {% block handball %}{% endblock %}
</div>
{% endblock %}
