.fxturera {
  .fixture-details {
    // teams styles-------------------
    .teams {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: rgb(29, 29, 29);
      .team {
        padding: 20px;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
      }
      .time {
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        text-align: center;
        background-color: red;
        margin: 0 20px;
        padding: 20px;
        p {
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }
    // teams styles-------------------
    .statistics {
      .stats {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 20px;
        .team1 {
          .fixtures {
            .fixture {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              //   background-color: #000;
              color: #000000;
              margin-bottom: 10px;
              h3 {
                background-color: red;
                font-size: 12px;
                padding: 10px;
                text-align: center;
                color: white;
                width: 50px;
              }
              h2 {
                font-size: 12px;
                padding: 10px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}
