.championsh0ps {
  .dets {
    padding: 20px;
    background-color: #fff;
    h1 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      i {
        margin: 10px;
      }
    }
    .details {
      list-style: none;
      width: 300px;
      margin-left: 10px;
      li {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        span {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .comp-groups {
    justify-content: space-between;
    align-items: flex-start;
    .form-co {
      //width: 
      margin: 10px 0;
    }
    .groups {
      width: 100%;
      padding: 10px;
      .grops {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        @media (max-width: 600px) {
          grid-template-columns: repeat(1, 1fr);
        }
        .group {
          box-shadow: 1px 1px 10px 1px #e1e1e1;
          h3 {
            background-color: red;
            padding: 5px;
            color: #fff;
          }
          ol {
            // list-style: none;
          }
        }
      }
    }
  }
}
