.home {
  background-color: #cccccc15;
  padding: 20px;
  border-radius: 10px;
  .dash-item {
    background-color: #cccccc25;
    padding: 20px;
    border-radius: 10px;
    justify-content: flex-start;
    .item-head {
      padding: 10px;
      i {
        font-size: 2em;
        padding: 10px;
        background-color: #ffffff25;
        border-radius: 5px;
        color: rgb(132, 3, 3);
      }
      .numbers {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 400;
        }
        h1 {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
