{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %} {{tournament.championship}}{% endblock %}
<!---->

{%block content%}

<div class="championsh0ps">
  <div class="corned flex">
    <nav>
      <div class="nav nav-tabs natabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-forms"
          type="button"
          role="tab"
          aria-controls="nav-forms"
          aria-selected="false"
        >
          forms
        </button>
        <button
          class="nav-link"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-groups"
          type="button"
          role="tab"
          aria-controls="nav-groups"
          aria-selected="true"
        >
          Groups
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-fixtures"
          type="button"
          role="tab"
          aria-controls="nav-fixtures"
          aria-selected="false"
        >
          fixtures
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-results"
          type="button"
          role="tab"
          aria-controls="nav-results"
          aria-selected="false"
        >
          results
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-rankings"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
        >
          rankings
        </button>
      </div>
    </nav>
  </div>

  <div class="futbol">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-forms"
        role="tabpanel"
        aria-labelledby="nav-forms-tab"
      >
        <div class="dets">
          <h1>
            <i class="fa fa-futbol"></i>{{tournament.championship}}
            {{tournament.season}}
          </h1>
          <ul class="details">
            <li><span>Tournament:</span>{{tournament.name}}</li>
            <li><span>Participants:</span>{{tournament.participants}}</li>
            <li><span>Groups:</span>{{tournament.number_of_groups}}</li>
            <li><span>Teams:</span>{{tournament.teams.count}}</li>
            <li><span>Fixtures:</span> {{ tournament.fixture_set.count }}</li>
          </ul>
        </div>
        <div class="form-co">
          <div class="form-co">
            <h2>Group forms</h2>

            <h2>Groups</h2>
            <form method="post" class="form-control grid2">
              {% csrf_token %} {{ formset.management_form }}
              <div class="gf grid2">
                {% for form in formset %}
                <div class="group-form">
                  {{ form.id }}
                  <h3>{{ form.instance.name }}</h3>
                  {{ form.name }}
                  <div id="teams-for-group-{{ forloop.counter0 }}">
                    {{ form.teams }}
                  </div>
                </div>
                {% endfor %}
              </div>
              <button type="submit" class="btn btn-danger">Save Groups</button>
            </form>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-groups"
        role="tabpanel"
        aria-labelledby="nav-groups-tab"
      >
        <div class="groups">
          <h2>Groups</h2>
          <div class="grops form-control">
            {% for group in fgroups %}
            <div class="group">
              <h3>{{ group.name }}</h3>
              <ol>
                {% for team in group.teams.all %}
                <li>{{ team.school }}</li>

                {% endfor %}
              </ol>
            </div>
            {% endfor %}
            <form
              id="generateFixturesForm"
              action="{% url 'generate_r7fixtures' tournament.id %}"
              method="post"
            >
              {% csrf_token %}
              <button
                type="button"
                id="generateFixturesButton"
                class="btn-submit"
              >
                Generate Fixtures
              </button>
            </form>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="nav-fixtures"
        role="tabpanel"
        aria-labelledby="nav-fixtures-tab"
      >
        <div class="official-list">
          <table id="myTable" class="display">
            <thead>
              <tr>
                <th>Fixture</th>
                <th>Home</th>
                <th>Away</th>
                <th>Time</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              {% for fixture in fixtures %}
              <tr>
                <td>{{ fixture.group }}</td>
                <td>{{ fixture.team1 }}</td>
                <td>{{ fixture.team2 }}</td>
                <td>{{ fixture.time }}</td>
                <td>{{ fixture.date|date:"F j, Y" }}</td>
                <td>
                  <a href="{% url 'update_r7fixture' fixture.id %}">Edit</a>
                </td>
                <td>
                  <a href="{% url 'r7fixture' fixture.id %}">Manage</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="fixture-custom">
          <a href="{%url 'addfixture'%}" class="btn-submit">
            create other fixture
          </a>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-results"
        role="tabpanel"
        aria-labelledby="nav-results-tab"
      >
        <div class="official-list">
          <div class="official-list">
            <table id="myaTable" class="display">
              <thead>
                <tr>
                  <th>Fixture</th>
                  <th>Home</th>
                  <th>Away</th>
                  <th>Time</th>
                  <th>Date</th>

                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
                {% for fixture in results %}
                <tr>
                  <td>{{ fixture.group }}</td>
                  <td>{{ fixture.team1 }}</td>
                  <td>{{ fixture.team2 }}</td>
                  <td>{{ fixture.team1_score }}:{{ fixture.team2_score }}</td>
                  <td>{{ fixture.date|date:"F j, Y" }}</td>

                  <td>
                    <a href="{% url 'nfixture' fixture.id %}">Manage</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-rankings"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <h2>Player Rankings</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Tries</th>
              <th>Conversions</th>
              <th>Penalty Kicks</th>
              <th>Drop Goals</th>
              <th>Total Points</th>
              <th>Tackles</th>
              <th>Yellow Cards</th>
            </tr>
          </thead>
          <tbody>
            {% for player in rankings.top_points_scorers %}
            <tr>
              <td>{{ player.fname }} {{ player.lname }}</td>
              <td>{{ player.tries }}</td>
              <td>{{ player.conversions }}</td>
              <td>{{ player.penalty_kicks }}</td>
              <td>{{ player.drop_goals }}</td>
              <td>{{ player.total_points }}</td>
              <td>{{ player.tackles }}</td>
              <td>{{ player.yellow_cards }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2>Team Rankings</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Team</th>
              <th>Tries</th>
              <th>Total Points</th>
              <th>Tackles</th>
              <th>Yellow Cards</th>
            </tr>
          </thead>
          <tbody>
            {% for team in rankings.team_points %}
            <tr>
              <td>{{ team.school.name }}</td>
              <td>{{ team.tries }}</td>
              <td>{{ team.total_points }}</td>
              <td>{{ team.tackles }}</td>
              <td>{{ team.yellow_cards }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    document
      .getElementById("generateFixturesButton")
      .addEventListener("click", function () {
        var form = document.getElementById("generateFixturesForm");
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action, true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function () {
          var response = JSON.parse(xhr.responseText);
          if (response.success) {
            alert("Netball Fixtures generated successfully");
            // Add additional logic to update the UI if needed
          } else {
            alert("Error: " + response.message);
          }
        };
        xhr.send(formData);
      });

    const fixtureCreate = document.querySelector(".new-fixture");

    const Creater = () => {
      if (fixtureCreate.classList.contains("none")) {
        fixtureCreate.classList.remove("none");
        fixtureCreate.classList.add("flex");
      } else {
        fixtureCreate.classList.add("none");
        fixtureCreate.classList.remove("flex");
      }
    };
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fetch("/get_group_teams/{{ tournament.id }}/")
        .then((response) => response.json())
        .then((data) => {
          const teams = data.teams;
          const groupForms = document.querySelectorAll(".group-form");
          groupForms.forEach((groupForm, index) => {
            const teamsDiv = document.getElementById(
              `teams-for-group-${index}`
            );
            teamsDiv.innerHTML = ""; // Clear existing checkboxes
            teams.forEach((team) => {
              const checkboxId = `id_fgroup_set-${index}-teams_${team.id}`;
              const checkbox = document.createElement("input");
              checkbox.type = "checkbox";
              checkbox.name = `fgroup_set-${index}-teams`;
              checkbox.value = team.id;
              checkbox.id = checkboxId;

              // Check if this team is already in the group
              if (
                groupForm.querySelector(`input[value="${team.id}"]:checked`)
              ) {
                checkbox.checked = true;
              }

              const label = document.createElement("label");
              label.htmlFor = checkboxId;
              label.textContent = team.name;

              const div = document.createElement("div");
              div.appendChild(checkbox);
              div.appendChild(label);

              teamsDiv.appendChild(div);
            });
          });
        })
        .catch((error) => console.error("Error:", error));
    });
  </script>
</div>

{% endblock %}
