<div class="left-sidebar">
  
  <div class="accounts">
    <h3>Championships</h3>
    <hr />
    <div class="logs">
      <li><a href="" class="sport-link">Elite</a></li>
      <li><a href="" class="sport-link">Fresh dairy games</a></li>
      <li><a href="" class="sport-link">Football boys</a></li>
      <li><a href="" class="sport-link">National swimming gala</a></li>
      <li><a href="" class="sport-link">Ball games </a></li>
      <li><a href="" class="sport-link">Ball games II</a></li>
      <li><a href="" class="sport-link">FEASSA Championships</a></li>
      <li><a href="" class="sport-link">ISF Championships</a></li>
    </div>
  </div>
  <div class="accounts">
    <h3>Media Channels</h3>
    <hr />
    <div class="logs">
      <li><a href="" class="sport-link">School Podcast</a></li>
      <li><a href="" class="sport-link">USSSA Tv</a></li>
      <li><a href="" class="sport-link">Football boys</a></li>
      <li><a href="" class="sport-link">National swimming gala</a></li>
      <li><a href="" class="sport-link">Ball games </a></li>
      <li><a href="" class="sport-link">Ball games II</a></li>
      <li><a href="" class="sport-link">FEASSA Championships</a></li>
      <li><a href="" class="sport-link">ISF Championships</a></li>
    </div>
  </div>
  <div class="accounts">
    <h3>Accounts</h3>
    <hr />
    <div class="logs">
      <a href="" class="btn btn-primary">Register School</a>
      <a href="" class="btn btn-outline-primary">Log in</a>
    </div>
  </div>
</div>
