<nav class="navbar navbaer navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand navbar-brands" href="/">usssa</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-align-left"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{%url 'Football'%} "
            >Football</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{%url 'Basketball3'%}"
            >Basketball3X3</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{%url 'Netball'%}"
            >Netball</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'Volleyball'%}"
            >Volleyball</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'Handball'%}"
            >Handball</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Athletics</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More ...
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Basketball5X5</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">rugby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >swimming</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Hockey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Table tennis</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">tennis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Beach soccer</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >woodball</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >beach volleyball</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >lacrose</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >baseball</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >badminton</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="buttons flex">
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard'%}" class="btn btn-outline-primary"
          >Dashboard</a
        >
        {% else %}
        <a href="{% url 'login'%}" class="btn btn-outline-primary">Login</a>
        <button class="btn btn-primary">Join us</button>{% endif %}
      </div>
    </div>
  </div>
</nav>
