{% load static %}
<div class="left-sidebar">
  <div class="accounts">
    <h3>News & Insights</h3>
    <hr />
    <div class="logs">
      <img src="{% static 'img/we.jpg'%}" alt="" />
      <p>
        Get all the latest news and insights about all championships and
        tournaments and other events on the GO.
      </p>
    </div>
  </div>
  <div class="accounts">
    <h3>Fixtures, Scores & Tables</h3>
    <hr />
    <div class="logs">
      <img src="{% static 'img/r3r3r.png'%}" alt="" />
      <p>
        Get all the fixtures, scores and standings for all championships and
        tournaments in real time.
      </p>
    </div>
  </div>
  <div class="accounts">
    <h3>Events</h3>
    <hr />
    <div class="logs">
      <img src="{% static 'img/pre.jpg'%}" alt="" />
      <p>
        Follow all USSSA, FEASSA, and ASSHU events and engagements from
        anywhere.
      </p>
    </div>
  </div>
</div>
