{% extends "dashboard/dashboard.html" %} {%load static%}
<!---->
{% block title %} Teams{% endblock %}
<!---->

{%block content%}
<div class="championships">

  <div class="top flex">
    <h1>Teams</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add team</a>
  </div>

  <div class="lo">
    <div class="official-list">
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>School</th>
            <th>Championship</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Sport</th>

            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams%}
          <tr>
            <td>
              <a href="{% url 'teamDetail' team.id%}"
                > {{team.school}}</a
              >
            </td>
            <td>{{team.championship}} {{team.season}}</td>

            <td>{{team.age}}</td>
            <td>{{team.gender}}</td>
            <td>{{team.sport}}</td>

            <td>
              <a href="" class="del"><i class="fa fa-pencil"></i></a>
            </td>
            <td>
              <a href="" class="del"><i class="fa fa-trash"></i></a>
            </td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="form-control">
            {% csrf_token %} {{form.as_p}}
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
