{% extends "frontend/football.html" %}

<!--static-->
{% load static %}
<!--title-->
{% block futitle %}Volleyball{% endblock futitle %}
<!--content-->
{% block content %}
<div class="home-page">
  <div class="home-area flex">
    <div class="left">{% include "base/left.html" %}</div>
    <div class="futbol">
      <div class="accounts">
        <h3>Tournaments</h3>
        <hr />
        <div class="logs">
          {% for vtourn in vtourns %}
          <li>
            <a href="{%url 'Volleyball' vtourn.id %}" class="sport-link"
              >{{vtourn.championship}}|{{vtourn.season}}|{{vtourn.name}}</a
            >
          </li>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="left">{% include "base/right.html" %}</div>
  </div>
</div>

{% endblock %}
