{% extends "frontend/football.html" %}

<!--static-->
{% load static %}
<!--title-->

<!--title-->
{% block futitle %}Football{% endblock futitle %}
<!--content-->
{% block futball %}
<h1>football results</h1>
<div class="fixtures">
  <table class="table table-striped">
    {% regroup results by competition as competition_list %}
    <!---->
    {% for competition in competition_list %}
    <h2>{{ competition.grouper }}</h2>
    {% regroup competition.list by date as date_list %}

    <!---->
    {% for date in date_list %}
    <h3>{{ date.grouper }}</h3>
    <tbody>
      {% for fixture in date.list %}
      <tr>
        <td>
          {{ fixture.team1.school.name|slice:":9" }}
          <div class="match-info">
            {{ fixture.team1_score }}:{{ fixture.team2_score }}
          </div>
          {{ fixture.team2.school.name|slice:":9" }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endfor %} {% endfor %}
  </table>

  <div class="fixture"></div>
</div>

{% endblock %}
